{% extends 'base.html' %}

{% block content %}
<h1>Создание нового заказа</h1>
<form id="create-order-form">
    {% csrf_token %}
    <label for="table_number">Номер стола</label>
    <input type="number" id="table_number" name="table_number" required><br>

    <label for="items">Блюда</label>
    <select id="items" name="items" multiple required>
        {% for dish in dishes %}
            <option value="{{ dish.id }}" data-price="{{ dish.price }}">{{ dish.name }}</option>
        {% endfor %}
    </select><br>

    <label for="total_price">Сумма</label>
    <input type="text" id="total_price" name="total_price" readonly><br>

    <button type="submit">Создать заказ</button>
</form>
{% endblock %}
